@model Food4Life.Models.Recipe

@{
    ViewBag.Title = @Model.title;
}

<div>
    @*<h3>@Model.title</h3>*@
    <div class="panel panel-default main-custom-section">
        <div class="panel-body">
            <div class="media">
                <a href="#" class="pull-left">
                    <img src="@Url.Content(@Model.thumnail_image)" class="image-max-width" alt="Image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">@Model.title</h4>
                    <p>@Model.description</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Prep Time <br />@Model.prep_time</th>
                            <th>Cook Time <br />@Model.cook_time</th>
                            <th>Total Time <br />@Model.cook_time + @Model.prep_time</th>
                        </tr>
                    </thead>
                </table>
            </p>
            <p>
                <fieldset>
                    <legend>Ingredients</legend>
                    <div><img src="@Url.Content(@Model.ingredients_thumbnail_image)" class="image-max-width" alt="Image"></div>
                    <div>@Html.Raw(Model.details)</div>
                </fieldset>
                <fieldset>
                    <legend>Instructions</legend>
                    <div>@Html.Raw(Model.instructions)</div>
                </fieldset>
            </p>
        </div>
    </div>
</div>
<p>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Edit", "Edit", new { recipeId = Model.id }) <label> | </label>
        @Html.ActionLink("Delete", "Delete", new { recipeId = Model.id }, new { onclick = "return confirm('Do you want to delete this item?')" }) <label> | </label>
    }
    @Html.ActionLink("Back to List", "Index", new { category = ViewBag.categoryName, page = ViewBag.page})
</p>
